.logocontainer {
    margin: auto;
    position: relative;
    display: block;
    overflow: hidden;
    max-width: 290px;
}
.logo {
    display: block;
    float: left;
}
.logop {
    float: left;
    display: block;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    max-width: 160px;
    margin-left: 20px;
}

body {
    color: #505050;
}

.intro {
    text-align: center;
    max-width: 700px;
    position: relative;
    margin: auto;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;

    margin-top: 40px;
    margin-bottom: 40px;
}

.box {
    border: 1px solid #dbdbdb;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 40px;
}

.box h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size:  22px;
}

.box a {
    text-transform: uppercase;
    color: #009cdd;
    font-weight: bold;
}
.box a:hover {
    text-decoration: none;
    background-color: #d9e7ed;
}

.name {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    font-size: 16px;
    margin-bottom: 0;
}
.url {
    text-align: center;
    margin-bottom: 0;
}

.img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.github .box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.github .box .img-wrapper {
    background: white;
    width: 130px;
    height: 130px;
    border-radius: 65px;
    margin-bottom: 20px;
    position: relative;
}

.github .box .img-wrapper:before {
    content: '';
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: 4px;
    left: 4px;
    background-image: url(../img/github.png);
}

@media (min-width: 992px) {
    .row > .img-wrapper {
        padding-top: 55px;
    }
}
